    <div class="content-wrapper dashboard-page">
      <section class="content-header">
            <span><h1 class="page-title">Dashboard <%= @user.name%></h1></span>
            <span><input type="text" name="q" class="form-control" placeholder="Search..."></span>
      </section>
    </div>
    