<div class="show">
    <div class="field">
        <p><strong>Account name:</strong></p>
        <p class="left"> <%= @parent.name %></p><br> 
    </div>
    <div class="field">
        <p><strong>Email:</strong></p> 
        <p class="left1"><%= @parent.email %></p><br>
    </div>
    <div class="field">
        <p><strong>Address:</strong></p>
        <p class="left2"> <%= @parent.address %></p><br>
    </div>
    <div class="field">
        <p><strong>Phone Number:</strong></p>
        <p> <%= @parent.phone_number %></p>
    </div>
</div>