<header>
    <a href="#" class="logo">
        <span class="logo-lg">School</span>
    </a> 
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle border" href="#" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-option-menu">
            <ul class="nav navbar-nav">
                <li class="messages-menu"><a class="border-left" href="#">Messages</a></li>
                <li class="messages-menu"><a class="border-left" href="#">Notifications</a></li>
                <li class="messages-menu"><a class="border-left" href="#">Tasks</a></li>
                <li class="messages-menu"><a class="border-left" href="#"><img src=" https://www.famousbirthdays.com/faces/kosarin-kira-image.jpg" class="profile-pic" ALIGN="left">Admin</a></li>         
            </ul>
        </div>
    </nav>
</header>